In [1]:
import numpy as np
import sklearn as sk
import pandas as pd
import scipy.stats as st

import seaborn as sns

import matplotlib.pyplot as plt

from permute.core import two_sample

from arch.bootstrap import IIDBootstrap

from statsmodels.stats.proportion import binom_test

# Задача 3

In [2]:
data = pd.read_csv('https://raw.githubusercontent.com/Intelligent-Systems-Phystech/psad-19/master/labs/lab1/lab1_data/nba.csv', header = 0)

In [3]:
data.head()

,Unnamed: 0,player,team,atm_away,atm_home,score_away,score_home,atm_total,score_total
0,7,A. Johnson,ATL,30,34,24,28,64,52
1,10,A. Johnson,TOR,63,57,44,38,120,82
2,15,Abdur-Rahim,SAC,114,124,84,90,238,174
3,22,Afflalo,DEN,236,284,189,227,520,416
4,23,Afflalo,DET,75,88,62,67,163,129

In [4]:
data_cut = data[['atm_away', 'atm_home', 'score_away', 'score_home', 'atm_total', 'score_total']]

In [5]:
data_cut.head()

   atm_away  atm_home  score_away  score_home  atm_total  score_total
0        30        34          24          28         64           52
1        63        57          44          38        120           82
2       114       124          84          90        238          174
3       236       284         189         227        520          416
4        75        88          62          67        163          129

In [6]:
x = data_cut.values

In [7]:
y = np.transpose(np.vstack([x[:,2]/x[:,0], x[:,3]/x[:,1]]))

In [8]:
print(y[:5])

[[0.8        0.82352941]
 [0.6984127  0.66666667]
 [0.73684211 0.72580645]
 [0.80084746 0.79929577]
 [0.82666667 0.76136364]]

### Постановка задачи

Пусть у нас есть две связанные выборки $y_0$ и $y_1$ такие, что каждая из которых является набором частот попадания некоторого игрока в выездной и домашней играх соответственно. 

Нужно проверить гипотезу о том, что ожидаемые значения данных двух выборок равны, при неизвестной дисперсии:

$$H_0: m_0 = m_1, \quad H_1: m_0 \not= m_1$$

### Решение

Все значения в выборке лежат в интервале $[0,1]$.

Воспользуемся перестановочным критерием для связных выборок.

In [ ]:
p_value = two_sample(y[:, 0], y[:, 1],  alternative='two-sided')[0]

In [ ]:
print('p-value for is ', p_value)

Получаем, что $p$ для гипотезы $H_0$ больше $0.05$, следовательно отвергнуть нулевую гипотезу мы не можем.

Построим доверительный интервал для среднего разности двух выборок при помощи бутстреп.

In [ ]:
bs = IIDBootstrap(y[:, 0] - y[:, 1])
bs.conf_int(np.mean, 100000, method='bca')

Получили, что $0$ попадает в доверительный интервал для разности двух выборок.

### Вывод

В силу того, что $p > 0.05$ получаем, что данные не противоречат нулевой гипотезе $H_0$. Также важно заметить, что при помощи метода довериительных интервалов, получается тот же результат, так как $0$ попадает в доверительный интервал для разности двух выборок.