In [1]:
import numpy as np
import pandas as pd
import statistics
import seaborn

from matplotlib import pyplot as plt
from scipy import stats as st
from statsmodels.stats.proportion import proportions_ztest
from statsmodels.stats.multitest import multipletests

In [2]:
data = pd.read_csv("../lab1_data/nba.csv", index_col=0)
data.head()

,player,team,atm_away,atm_home,score_away,score_home,atm_total,score_total
7,A. Johnson,ATL,30,34,24,28,64,52
10,A. Johnson,TOR,63,57,44,38,120,82
15,Abdur-Rahim,SAC,114,124,84,90,238,174
22,Afflalo,DEN,236,284,189,227,520,416
23,Afflalo,DET,75,88,62,67,163,129

$H_0$ \- успех в домашних и гостевых одинаков   
$H_1$ \- есть разница в успехе

Для каждого игрока $i$ в отдельности рассматриваем вероятность успешного броска 
как бернуллевскую случайную величину с веротностью успеха $p_i$.  

Тогда:  
${H_0}_i$: ${p_i}_{home} = {p_i}_{away}$  
${H_1}_i$: ${p_i}_{home} \neq {p_i}_{away}$

=> Множественная проверка гипотез.

1. Посчитаем $p_{value}$ для каждых ${p_i}_{home}$, ${p_i}_{away}$ c помощью Z-критерий для разности двух долей

In [3]:
successes = data[["score_home", "score_away"]].values
attempts = data[["atm_home", "atm_away"]].values

p_values = np.array(
    [proportions_ztest(succ, attempt)[1] for succ, attempt in zip(successes, attempts)])

2. Так как множественная проверка гипотез, используем поправку Бонферрони

In [6]:
print("Поправка Бонферрони")
print("rejected: {0}".format(sum(multipletests(p_values, method="bonferroni")[0])))

Поправка Бонферрони
rejected: 0

3. Следовательно, нулевая гипотеза не отвергается ни для одного из игроков.
4. => Можно считать, что одинаковая результативность

Посмотрим на другие поправки

In [5]:
print("Поправка Холма")
print("rejected: {0}".format(sum(multipletests(p_values, method="holm")[0])))
print("Поправка Шидака")
print("rejected: {0}".format(sum(multipletests(p_values, method="sidak")[0])))
print("Метод Бенджамини-Хохберга")
print("rejected: {0}".format(sum(multipletests(p_values, method="fdr_bh")[0])))

Поправка Холма
rejected: 0
Поправка Шидака
rejected: 0
Метод Бенджамини-Хохберга
rejected: 0

## Вывод

Данные не противоречат гипотезе $H_0$.  
Можно сделать вывод, что результативность игроков одинаковая